@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.navbar {
  background-color: black;

  .navbar-nav {
    @include media-breakpoint-up(md) {
      margin-left: auto;
    }

    a {
      color: white;
      font-weight: 600;
      margin: 2px 0px;
      padding: 10px 0px;
      background: #18a3f1;
      text-align: center;
      border-radius: 5px;

      &:hover, &:active {
        color: black;
        text-decoration: none;
      }

      @include media-breakpoint-up(md) {
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        min-width: 100px;
      }
    }
  }
}

.brandLogo {
  .tagline {
    font-size: 12px;
  }
}