.avatar {
  text-align: center;

  .name {
    font-size: 2rem;
  }
  .subject {
    font-size: medium;
    font-style: italic;
  }

  img {
    width: 220px;
    height: 220px;
    object-fit: cover;
  }
}
