@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  outline: none;
}

.main-section {
  min-height: calc(100vh - 180px);

}
.bg-light-blue {
  background-color: #aee2ff;
}

